<div class="footer-container">
    <div class="slds-form-element">
        <div class="slds-form-element__control">
            <div class="slds-select_container">
                <select class="slds-select" id="select-01">
                    <option>5</option>
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                </select>
            </div>
        </div>
    </div>
    <div class="pagination-container">
        <div class="slds-button-group" role="group">
            <div>
                <button class="slds-button slds-button_neutral slds-button_first">First</button>
            </div>
            <div>
                <button class="slds-button slds-button_neutral slds-button_middle">Prev</button>
            </div>
            <div>
                <button class="slds-button slds-button_neutral slds-button_middle">1</button>
            </div>
            <div>
                <button class="slds-button slds-button_neutral slds-button_middle">Next</button>
            </div>
            <div>
                <button class="slds-button slds-button_neutral slds-button_last">Last</button>
            </div>
        </div>
    </div>
</div>