<div class="footer-container">
    <div class="slds-form-element">
        <div class="slds-form-element__control">
            <div class="slds-select_container">
                <select class="slds-select" id="select-01" [value]="taskService.pageSize$|async"
                    (change)="handleSelect($event)">
                    <option value="5">5</option>
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
    </div>

    <div class="pagination-container">
        <div class="slds-button-group" role="group">
            <button class="slds-button slds-button_neutral slds-button_first custom-pagination-btn" (click)="first()"
                [disabled]="isFirstPage">
                <span class="slds-icon_container slds-icon-utility-announcement"
                    title="Description of icon when needed">
                    <svg class="slds-icon slds-icon-text-default slds-icon_small" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#jump_to_top"></use>
                    </svg>
                    <span class="slds-assistive-text">Description of icon when needed</span>
                </span>
                <span class="btn-text">First</span>
            </button>
            <button class="slds-button slds-button_neutral slds-button_middle custom-pagination-btn" (click)="prev()"
                [disabled]="isFirstPage">
                <span class="slds-icon_container slds-icon-utility-announcement"
                    title="Description of icon when needed">
                    <svg class="slds-icon slds-icon-text-default slds-icon_small" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronleft"></use>
                    </svg>
                    <span class="slds-assistive-text">Description of icon when needed</span>
                </span>
                <span class="btn-text">Prev</span>
            </button>

            <button class="slds-button slds-button_neutral slds-button_middle custom-pagination-btn page-indicator">
                {{taskService.currentPage$ | async }}
            </button>

            <button class="slds-button slds-button_neutral slds-button_middle custom-pagination-btn" (click)="next()"
                [disabled]="isLastPage">
                <span class="slds-icon_container slds-icon-utility-announcement"
                    title="Description of icon when needed">
                    <svg class="slds-icon slds-icon-text-default slds-icon_small" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                    </svg>
                    <span class="slds-assistive-text">Description of icon when needed</span>
                </span>
                <span class="btn-text">Next</span>
            </button>

            <button class="slds-button slds-button_neutral slds-button_last custom-pagination-btn" (click)="last()"
                [disabled]="isLastPage">
                <span class="slds-icon_container slds-icon-utility-announcement"
                    title="Description of icon when needed">
                    <svg class="slds-icon slds-icon-text-default slds-icon_small" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#jump_to_bottom"></use>
                    </svg>
                    <span class="slds-assistive-text">Description of icon when needed</span>
                </span>
                <span class="btn-text">Last</span>
            </button>
        </div>
    </div>
</div>