.header {
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    height: 15%;

    .left-header {
        padding-left: 20px;
        padding-top: 20px;

        .title-logo-container {
            display: flex;

            .logo {
                padding-right: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                .custom-logo {
                    background-color: #B90D4B;
                }
            }

            .title-container {
                .title {
                    font-size: 36px;
                    font-weight: 500;
                    color: #767C81;
                }

                .subtitle {
                    font-size: 30px;
                    font-weight: 300;
                    color: #8C8C8C;
                }
            }
        }

        .records-count {
            font-size: 16px;
            font-weight: 300;
            color: #8C8C8C;
        }

    }

    .right-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 20px;

        .custom-btn {
            min-width: 150px;
            height: 40px;
            padding: 0 1rem;
            font-size: 18px;
            font-weight: 500;
            background-color: #FFE7A7 !important;
            color: #767C81 !important;
            border-color: #767C81 !important;
        }

        .custom-btn:hover {
            background-color: #FFD16A !important;
            border-color: #8C8C8C !important;
            color: #767C81 !important;
        }

        .custom-btn:active {
            background-color: #FFC44D !important;
            border-color: #767C81 !important;
        }

        .search {
            margin-top: 10px;
        }

    }
}