<div class="header">
    <div class="left-header">
        <div class="title-logo-container">
            <div class="logo">
                <span class="slds-icon_container custom-logo" title="Description of icon when needed">
                    <svg class="slds-icon slds-icon_large" aria-hidden="true">
                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#task"></use>
                    </svg>
                    <span class="slds-assistive-text">Description of icon when needed</span>
                </span>
            </div>
            <div class="title-container">
                <div class="title">
                    Tasks
                </div>
                <div class="subtitle">
                    All Tasks
                </div>
            </div>
        </div>
        <div class="records-count">
            {{(taskService.pagedTasks$ | async)?.length+ " records"}}
        </div>
    </div>
    <div class="right-header">
        <div class="slds-button-group" role="group">
            <button class="slds-button slds-button_neutral slds-button_first custom-btn" (click)="openCreateTask()">New
                Task</button>
            <button class="slds-button slds-button_neutral slds-button_last custom-btn">Refresh</button>
        </div>
        <div class="search">
            <div class="slds-form-element">
                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                    <svg class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default"
                        aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                    </svg>
                    <input type="text" id="text-input-id-46" placeholder="Search" class="slds-input" />
                </div>
            </div>
        </div>
    </div>
</div>