.task-table {
    height: 75%;
    background-color: #FFFFFF;
    overflow-y: auto;
}

.highlight-row {
    background-color: #fff3cd;
    animation: fadeOut 3s ease-out forwards;
}

@keyframes fadeOut {
    0% {
        background-color: #fff3cd;
    }

    100% {
        background-color: transparent;
    }
}