.delete-modal-header {
    background: #e60000 !important;
    color: white;

    h1 {
        color: white !important;
    }
}

.delete-btn {
    min-width: 120px;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
}

.delete-footer {
    border-top: none !important;
    background-color: #FFFFFF;
}