.task-list-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.task-list-container>app-task-data-table {
    flex: 1;
    overflow: auto;
    background-color: #FFFFFF;
}